artifacts/
bootstrap/
cert/
chroot/
app/
deb/
*deb
.idea/*
image/boot/grub/device.map
image/boot/grub/grub.cfg
image/ISO/boot/
image/ISO/casper/
image/ISO/cdrom/
image/ISO/.disk/
image/ISO/dists/
image/ISO/EFI/BOOT/bootx64.efi
image/ISO/EFI/BOOT/efi.img
image/ISO/EFI/BOOT/grub.cfg
image/ISO/EFI/BOOT/grubx64.efi
image/ISO/EFI/BOOT/mmx64.efi
image/ISO/EFI/ubuntu/
image/ISO/info
image/ISO/isolinux/bios.img
image/ISO/isolinux/core.img
image/ISO/isolinux/grub.cfg
image/ISO/md5_file
image/ISO/md5sum.txt
.ISO-builder.sh.swp
log/
opt/
test/BATS-REPORT.txt
test/BATS-SUCCESS
test/SHELL-REPORT.md
test/SHELL-REPORT.txt
tmp/
tools/ubcld-repo-manager/artifacts
tools/ubcld-repo-manager/tmp
tools/ubcld-repo-manager/ubcld_repo/

